h1 {
    text-align: left;
    color: black;
    font-family: Helvetica;
    font-weight: bold;
}

h2 {
    text-align: left;
    color: black;
    font-family: Helvetica;
    font-weight: bold;
}

h3 {
    text-align: left;
    color: black;
    font-family: Helvetica;
    font-weight: bold;
}

p {
    text-align: left;
    color: black;
    font-family: Helvetica;
    font-size: 14px;
}

body {
    background-color: #c6ddff;
}
